<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
</head>
<body leftmargin="30">
    <h2>All stores details</h2>
    <table>
        {% for item in stores %}
        <tr>
            <td><b>ID:</b>{{ item.id }}</td>
            <td><a href="{% url 'store_details' item.id %}"> {{ item.name }}</a></td>
            <td><b>Number of books:</b> {{ item.cnt }}</td>
        </tr>
        <tr>
            <td colspan="3" class="divider"><hr/></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>